# SUPABASE CONFIGURATION
# Dapatkan URL dan anon public key dari Project Settings > API di Dashboard Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# OPTIONAL GEMINI & APP CONFIGURATION
GEMINI_API_KEY=
APP_URL=
